# Laravel Environment
.env
.env.*.backup

# Laravel Storage & Cache
/public/storage/
/storage/*.log
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Backup files
backup/
*.zip

# Ignore editor / OS files
.DS_Store
Thumbs.db

# Ignore Voyager vendor assets (optional)
resources/views/vendor/voyager/assets/
